<div class="keylocaker-container">

    <!-- <div class="top-bar"></div> -->

    <div class="details-area">

        <div class="entries" *ngIf="currentView == 'Entries'" style="height: 100%;">

            <p-tabView>

                <p-tabPanel header="Your Active Bidding Rooms">
                   
                    <div class="common-ag-grid-styles" style="width: 100%; height: 100%;">
                    
                        <ag-grid-angular #agGrid 
                            style="width: 100%; height: 100%; font-size: 12px;" 
                            class="ag-theme-alpine"
                            [rowData]="activeRowData"
                            [columnDefs]="activeColumnDefs"
                        >
                        </ag-grid-angular>
    
                    </div>
    
    
                </p-tabPanel>
    
                <p-tabPanel header="Closed Stats">
                    
                    <div class="common-ag-grid-styles" style="width: 100%; height: 100%;">
                    
                        <ag-grid-angular #agGrid 
                            style="width: 100%; height: 100%; font-size: 12px;" 
                            class="ag-theme-alpine"
                            [rowData]="closeRowData"
                            [columnDefs]="closeColumnDefs"
                        >
                        </ag-grid-angular>
    
                    </div>
    
                </p-tabPanel>
    
            </p-tabView>

        </div>

        <div class="cash-spent" *ngIf="currentView == 'Cash Spent'" style="height: 100%;">
            <p-chart type="line" [data]="data" [height]="550" [options]="chartOptions"></p-chart>
        </div>

        <div class="invites" *ngIf="currentView == 'Successful Invites'" style="height: 100%;">
            
            <div class="list-area">

                <div class="header">
                    Successful Invites
                </div>
    
                <div class="sub-header">
                    Sent Invites
                </div>
    
                <div class="list">
    
                    <div class="item" *ngFor="let anInvite of invites">
    
                        <div class="details-area">
        
                            <div class="username">
                                {{ anInvite.name }}
                            </div>
        
                            <div class="email">
                                {{ anInvite.email }}
                            </div>
        
                        </div>
        
                        <div class="status" [style.color]="anInvite.status == 'Pending' ? '#D9534F' : '#5CB85C'">
                            {{ anInvite.status }}
                        </div>
                    </div>
    
                </div>


            </div>

            <div class="ref-area">

                <div class="header">
                    Referrals
                </div>

                <div class="send-invites">

                    <div class="title">
                        Refer a friend Give $10, Get $10 
                    </div>

                    <div class="info">
                        Spread the Summersalt love! You’ll get $10 for each friend who orders.
                        Only new customers are valid for the referral.
                    </div>

                    <div class="act-area">
                        <input id="input" type="text" size="30" pInputText placeholder="Your Friends’ emails (separated by commas)"> 
                        <img src="./assets/key-locker/btn-send.png">
                    </div>

                    <div class="line"></div>

                    <div class="share">
                        <img src="./assets/key-locker/social-media-icons.png">
                    </div>

                </div>

            </div>


        </div>

        <div *ngIf="currentView == 'Bid Placed'" style="height: 100%;">
            Bid Placed
        </div>

        <div *ngIf="currentView == 'Contracts Won'" style="height: 100%;">
            Contracts Won
        </div>

    </div>

    <div class="cards-area">


        <div class="a-card" *ngFor="let aCard of cards" (click)="viewChange(aCard)" [ngClass]="aCard.background ? 'selected-item' : '' ">

            <div class="icon">
                <img [src]="aCard.icon">
            </div>

            <div class="title">
                {{ aCard.title }}
            </div>

            <div class="info">

                {{ aCard.info }}

                <img *ngIf="aCard.infoIcon" [src]="aCard.infoIcon">

            </div>

        </div>


    </div>

</div>


