<div class="container">

    <div class="section-1">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-search"></i></span>
            <input type="text" pInputText placeholder="Search for frequently asked questions">         
        </div>
    </div>

    <div class="section-2"></div>

    <div class="section-3">

        <div class="profile" (click)="userChangeView(_MainViews.userProfile, true, false)">
            <label>William Fancysone</label>
            <img src="./assets/profile/pro-pic.png">
        </div>

        <div class="notifications">
            <img src="./assets/notify-icon.png">
        </div>
    </div>

</div>
