.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    background-image: url('^assets/background.png');
    background-repeat: no-repeat;

    .profile{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 434px;

        .pro-pic {
            
            width: 119px;
            height: 120px;
            border-radius: 100px;

            .pic {
                width: 100%;
                height: 100%;
            }

            .icon {
                position: absolute;
                right: 83px;
                top: 170px;
            }
        }

        .name {

            margin-top: 15px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 35px;
            text-align: center;
            color: #2C2C2C;

        }

        .username {

            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #818181;

        }

        .joined {

            margin-top: 10px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #95CED1;

        }

        .address {

            margin-top: 10px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            color: #AFAFAF;

        }
        
    }

    .details {

        flex-grow: 1;
        width: 100%;

        .item {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: 32px;
            padding: 30px;

            .icon-area {

                display: flex;

                img {

                    width: 32px;
                    height: 32px;
                    margin-right: 10px;

                }

                label {

                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 32px;
                    color: #2C2C2C;

                }

            }

            .val {

                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 32px;
                color: #79778A;

            }

            .diff {
                color: #95CED1;
            }

        }

    }
}