@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(252, 252, 252);



    .ui-dialog-visible {
        padding-bottom: 22px !important;

        .ui-dialog {

            padding: 19px !important;
            background-color: rgb(252, 252, 252) !important;
            height: 100% !important;
            max-height: unset;
            width: 100%;
    
            .ui-dialog-titlebar {
                gap: 10px !important;
                isolation: isolate !important;
                height: 48px !important;
                background: linear-gradient(0deg, #95CED1, #95CED1), #F9A369 !important;
                border-radius: 8px !important;
                font-family: 'Open Sans' !important;
                font-style: normal !important;
                font-weight: 600 !important;
                font-size: 18px !important;
                color: #FFFFFF !important;
                padding: 11px !important;

                .ui-dialog-titlebar-icons {

                    width: 28px;
                    height: 28px;
                    background-color:  #FFFFFF;
                    border-radius: 8px;

                    .ui-dialog-titlebar-icon {
                        color: #95CED1 !important;

                        span {
                            position: relative;
                            right: 4px;
                            font-weight: 600;
                            font-size: 18px;
                        }
                    }

                }

            }
    
            .ui-dialog-content {
                font-family: 'Open Sans' !important;
                font-style: normal !important;
                font-weight: 400 !important;
                font-size: 16px !important;
                line-height: 26px !important;
                text-align: justify !important;
                letter-spacing: 0.01em !important;
                color: #393A3D !important;
                flex-grow: 1 !important;
            }
    
            .ui-dialog-content, .ui-dialog-footer {
                border: none !important;
                background-color: rgb(252, 252, 252) !important;
            }
        }

    }

    p-checkbox {

        .ui-chkbox-label {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 24px;
            color: #F9A369;
        }

        .ui-chkbox .ui-chkbox-box{
            border-color: #F9A369;
        }

        .ui-chkbox .ui-chkbox-box:not(.ui-state-disabled):hover {
            border-color: #F9A369;
        }

        .ui-chkbox .ui-chkbox-box.ui-state-focus {
            outline: 0 none;
            outline-offset: 0;
            -webkit-box-shadow: 0 0 0 0.2em #F9A369;
            -moz-box-shadow: 0 0 0 0.2em #F9A369;
            box-shadow: 0 0 0 0.2em #F9A369;
            border-color: #F9A369;
        }
        .ui-chkbox .ui-chkbox-box.ui-state-active {
            border-color: #F9A369;
            background-color: transparent;
            color: #F9A369;
        }
        .ui-chkbox .ui-chkbox-box.ui-state-active:not(.ui-state-disabled):hover {
            border-color: #F9A369;
            background-color: transparent;
            color: #F9A369;
        }
        
    }

    .ui-radiobutton .ui-radiobutton-box {
        border: 1px solid #F9A369 !important;
    }

    .ui-radiobutton-label {
        position: relative !important;
        top: 1.5px ;
        font-family: 'Open Sans' !important;
        font-style: normal !important;
        font-weight: 600 !important;
        font-size: 16px !important;
        line-height: 26px !important;
        text-align: justify !important;
        letter-spacing: 0.01em !important;
        color: #393A3D;
    }
    
    .ui-radiobutton .ui-radiobutton-box.ui-state-active {
        background-color: transparent !important;
        border-color: #F9A369 !important;;
    }

    .ui-radiobutton .ui-radiobutton-box.ui-state-focus {
        outline: 0 none;
        outline-offset: 0;
        -webkit-box-shadow: unset !important;
        -moz-box-shadow: unset !important;
        box-shadow: unset !important;
        border-color: #F9A369;
    }

    .ui-radiobutton .ui-radiobutton-box.ui-state-active .ui-radiobutton-icon {
        background-color: #F9A369 !important;
        border-color: #F9A369 !important;;
    }

    .common-ag-grid-styles {

        .ag-header-row{
            background: #F4F4FB;
        }

        .ag-row .ag-cell {
            display: flex;
            justify-content: center; /* align horizontal */
            align-items: normal;
            line-height: 44px;
        }
    
        .ag-header-cell-label {
            justify-content: center !important; // common
        }
    
        .ag-header-cell-text {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.01em;
            color: rgba(57, 58, 61, 0.7);
            
        }
    
        .ag-header-cell-resize::after {
            background-color: transparent !important;
        }
    
        .ag-header {
            height: 50px;
            min-height: unset;
        }
    
        .ag-header-row {
            height: 43px !important;
        }
    
        .ag-row {

            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 22px;
            letter-spacing: 0.01em;
            color: #000000;
            height: 75px;
    
        }
    
        .ag-row-odd{
            background-color:  #F7F7FF;
        }
    

    }


}